@model PainTrax.Web.Models.tbl_macros_master

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Manage Macros</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Designation">Home</a></li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">Edit Macros</h5>

                        <!-- General Form Elements -->
                        <form asp-action="Edit" asp-controller="Macros">

                            <input type="hidden" asp-for="id" />
                            <input type="hidden" asp-for="created_by" />
                            <input type="hidden" asp-for="created_date" />
                            <input type="hidden" asp-for="cmp_id" />

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Body Part</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="text" class="form-control" asp-for="bodypart" data-val-required="The Body Part required.">
                                            <span asp-validation-for="bodypart" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Heading</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea class="form-control" asp-for="heading"></textarea>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">CC Description</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea class="form-control" id="cceditor" asp-for="cc_desc"></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">PE Description</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea class="form-control" id="peeditor" asp-for="pe_desc"></textarea>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">ROM Description</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea class="form-control" id="romeditor" asp-for="rom_desc"></textarea>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Assesment/Diagnoses</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea class="form-control" id="assesmenteditor" asp-for="a_desc"></textarea>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">P Description</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea class="form-control" asp-for="p_desc"></textarea>

                                        </div>
                                    </div>

                                </div>
                                <div class="row mb-3">

                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                         <a class="btn btn-primary" asp-action="Index" asp-controller="Macros">Back</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector("#cceditor"))
        .catch(error => {
            console.error(error);
        });
    ClassicEditor
        .create(document.querySelector("#peeditor"))
        .catch(error => {
            console.error(error);
        });
    ClassicEditor
        .create(document.querySelector("#romeditor"))
        .catch(error => {
            console.error(error);
        });
    ClassicEditor
        .create(document.querySelector("#assesmenteditor"))
        .catch(error => {
            console.error(error);
        });
</script>