@model PainTrax.Web.ViewModel.GetProviderVM
@{
    ViewData["Title"] = "Get Provider";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main id="main" class="main" style="margin-left:0px!important">



    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="GetProvider" asp-controller="Home">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Welcome</h5>

                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Location</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" asp-for="locationid" asp-items="@ViewBag.locList"></select>
                                        </div>
                                    </div>



                                </div>
                                <div class="clear-fix"></div>
                                <div class="col-lg-6">
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Providers/MA</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" multiple aria-label="multiple select example">
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-1" style="text-align:center">
                                    <button type="button" class="btn btn-primary"><</button>
                                    <button type="button" class="btn btn-primary">></button>
                                </div>
                                <div class="col-lg-5">
                                    <div class="row mb-3">

                                        <div class="col-sm-10">
                                            <select class="form-select" multiple aria-label="multiple select example">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear-fix"></div>
                            <div class="row mb-3">
                                <div class="col-lg-5">
                                    <label class="col-sm-2 col-form-label">&nbsp;</label>
                                    <div class="col-sm-10">

                                        <button type="submit" class="btn btn-primary">Next</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>


        </div>
    </section>

</main><!-- End #main -->
